* {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
}

h1 {
    color: darkgoldenrod;
    font-size: 33px;
    margin: 30px 0;    
    text-align: center;
}

body {
    background-color: rgb(10, 10, 20);
}

div {
    color: darkgoldenrod;
}

#calculator {
    background-color: rgb(27, 25, 50);
    border: 1px solid darkgoldenrod;
    height: 527px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 80px;
    padding-top: 15px;
    width: 400px;
}

#screen-container {
    background-color: black;
    border: 1px solid darkgoldenrod;
    box-sizing: border-box;
    height: 80px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
    width: 332px;
    margin-top: 30px;
}

#upper-number, #result-number {
    color: rgb(100, 100, 100);
    float: right;
}

#result-number {
    clear: both;
    margin-top: 5px;
    font-size: 22px;
    font-weight: bold;
}

.btn-container {
    margin-bottom: 19px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    width: auto;
}

.btn {
    background-color: rgb(10, 10, 20);
    color: darkgoldenrod;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    height: 70px;
    line-height: 70px;
    margin: 0 5px;
    text-align: center;
    width: 70px;
    border: 1px solid rgb(40, 45, 45);
}

.btn:hover {
    background-color: darkgoldenrod;
    color: black;
}

#ac-btn {
    margin-left: -169px;
    width: 156px;
}

#division-btn {
    position: absolute;
    right: 29px;
}

#zero-btn, #equals-btn {
    width: 156px;
}

#dev, #brand {
    text-align: center;
    color: rgb(100, 100, 100);
}